@media ( max-width: 1200px )
  .container
    max-width: 980px
    // max-width: 90%
  .collection
    &__wrapper
      align-items: flex-start
    &__title
      margin-top: 0
  .trends
    margin-top: 80px
    &__cards-wrapper--active
      margin: auto
      margin-top: 8.5px
      width: 980px
  .see-more
    &__link
      margin: auto
  .card
    flex-basis: 30%
  .see-more
    flex-grow: 1
    margin-left: 50px
    margin-right: 342px
  .reviews
    margin-top: 80px
  .subscribe
    margin-left: auto
    margin-right: 0
  .horizontal-divider
    width: 90%

@media (min-width: 992px)
  a:hover, a:focus
    color: #1565D8
  .button:hover, .button:focus
    color: $light
    background-color: #333
  .navbar-menu
    &__button:hover
      border: 2px solid #333
  .stories
    &__button:hover
      background-color: $light
  .collection
    &__link:hover
      color: #333
  .see-more
    &__container:hover
      background-color: $primary-text-color
  .trends
    &__tabs-item:hover
      color: $primary-text-color
  .modal
    &__button:hover
      border: 2px solid #333

@media ( max-width: 996px )
  .container
    width: 768px
    max-width: 90%
  .navbar-menu
    &__logo
      margin-right: auto
    &__mobile-button
      display: none
    // LABEL
    &__button
      margin-left: 35px
  .hero
    margin-top: 30px
    // LABEL
    padding: 36px 0 36px 110px
    // LABEL
    max-width: 100%
    min-height: 624px
    background-position: 63.3% 47.53%
    background-size: auto auto
    &__title
      max-width: 365px
      font-size: 48px
      line-height: 60px
    &__description
      max-width: 400px
      font-size: 18px
      line-height: 32px
    &__list
      max-width: 444px
    &__item + &__item
      margin-left: 21px
  .collection
    margin-top: 80px
    &__wrapper
      flex-wrap: wrap
    &__woman
      width: 350px
      height: 490px
    &__images-wrapper
      margin-right: 0
    // LABEL
    &__kitchen
      width: 380px
    // LABEL
    &__room
      width: 380px
    &__text
      flex-basis: 100%
    &__title
      margin-top: 40px
      max-width: 100%
    &__description
      max-width: 95%
    &__link-wrapper
      margin-top: 24px
      margin-bottom: 0
  .trends
    margin-top: 80px
    &__menu
      flex-direction: row
    &__tabs
      margin-top: 27.5px
    &__cards-wrapper--active
      margin: auto
      margin-top: 8.5px
      width: 100%
      // LABEL
      flex-basis: 29%
  .see-more
    &__link
      margin: auto
  .card
    width: 230px
    margin-top: 48px
    flex-basis: 30%
  .see-more
    flex-grow: 1
    margin-left: 38px
    margin-right: 269px
  .reviews
    margin-top: 80px
  .reviews-slider
    &__item
      max-width: 630px
    &__text-review
      margin-top: 28px
    &__reviewer
      margin-top: 24px
      margin-bottom: 28px
  .horizontal-divider
    width: 90%
  .story
    width: 436px
    &__item
      width: 300px
  .newsletter
    margin-top: 80px
    padding: 72px 0 80px 0
    &__wrapper
      flex-direction: column
    &__text-wrapper
      text-align: center
  .subscribe
    margin-top: 56px
    margin-right: 0
    margin-left: 0
  .footer
    padding-top: 64px
    padding-bottom: 130px
    &__wrapper
      display: grid
      grid-template-columns: 253px 30px 1fr 30px 1fr
      grid-gap: 0
      grid-row-gap: 48px
      grid-auto-rows: minmax(60px, max-content)
      align-items: start
    &__list
      margin-right: 0
    &__info
      width: 253px
    &__summary-wrapper
      grid-column: 1 / 2
    &__navigation
      grid-column: 3 / 4
    &__services
      grid-column: 5 / 6
    &__company
      grid-row: 2 / 3
      grid-column: 3 / 4
    &__contacts
      grid-row: 2 / 3
      grid-column: 5 / 6

@media ( max-width: 855px )
  body
    padding-top: 103.2px
  .container
    width: 768px
    max-width: 90%
  .navbar-menu--mobile-fixed
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 100
  .navbar-menu
    &__list--mobile-hidden, &__button--mobile-hidden
      display: none
    &__logo
      margin-right: auto
    &__mobile-button
      display: flex
      padding: 0
      width: 22px
      height: 13.3px
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      cursor: pointer
      background-color: $light
    &__mobile-button-line
      width: 22px
      height: 2.2px
      background-color: #3A4C66
    &__button
      margin-left: 35px
  .hero
    margin-top: 30px
    padding: 36px 0 36px 28px
    max-width: 100%
    min-height: 624px
    background-position: 63.3% 47.53%
    background-size: auto auto
    &__title
      max-width: 365px
      font-size: 48px
      line-height: 60px
    &__description
      max-width: 400px
      font-size: 18px
      line-height: 32px
    &__list
      max-width: 444px
    &__item + &__item
      margin-left: 21px
  .collection
    margin-top: 80px
    &__wrapper
      flex-wrap: wrap
    &__woman
      width: 320px
      height: 490px
    &__images-wrapper
      margin-right: 0
    &__kitchen
      width: 380px
    &__room
      width: 380px
    &__text
      flex-basis: 100%
    &__title
      margin-top: 40px
      max-width: 100%
    &__description
      max-width: 95%
    &__link-wrapper
      margin-top: 24px
      margin-bottom: 0
  .trends
    margin-top: 80px
    &__menu
      flex-direction: row
    &__tabs
      margin-top: 27.5px
    &__cards-wrapper--active
      margin: auto
      margin-top: 8.5px
      width: 100%
      flex-basis: 29%
  .see-more
    &__link
      margin: auto
  .card
    width: 230px
    margin-top: 48px
    flex-basis: 30%
  .see-more
    flex-grow: 1
    margin-left: 38px
    margin-right: 258px

@media ( max-width: 825px )
  #story-br
    display: none
  .container
    max-width: 682px
  .navbar-menu
    &__list--mobile-hidden, &__button--mobile-hidden
      display: none
    &__logo
      margin-right: auto
    &__mobile-button
      display: flex
      padding: 0
      width: 22px
      height: 13.3px
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      cursor: pointer
      background-color: $light
    &__mobile-button-line
      width: 22px
      height: 2.2px
      background-color: #3A4C66
  .hero
    margin-top: 30px
    padding: 36px 0 36px 28px
    max-width: 728px
    min-height: 624px
    background-position: 63.3% 47.53%
    background-size: auto auto
    &__title
      max-width: 365px
      font-size: 48px
      line-height: 60px
    &__description
      max-width: 400px
      font-size: 18px
      line-height: 32px
    &__list
      max-width: 444px
    &__item + &__item
      margin-left: 21px
  .collection
    margin-top: 80px
    &__wrapper
      flex-wrap: wrap
    &__woman
      width: 322px
      height: 490px
    &__images-wrapper
      margin-right: 0
    &__kitchen
      width: 320px
    &__room
      width: 320px
    &__text
      flex-basis: 100%
    &__title
      margin-top: 40px
      max-width: 100%
    &__description
      max-width: 95%
    &__link-wrapper
      margin-top: 24px
      margin-bottom: 0
  .trends
    margin-top: 80px
    &__menu
      flex-direction: column
    &__tabs
      margin-top: 27.5px
    &__cards-wrapper--active
      margin: auto
      margin-top: 8.5px
      width: 608px
  .see-more
    &__link
      margin: auto
  .card
    width: 280px
    margin-top: 48px
    flex-basis: initial
  .see-more
    flex-grow: initial
    margin-left: 0
    margin-right: 0
  .reviews
    margin-top: 80px
  .reviews-slider
    &__item
      max-width: 630px
    &__text-review
      margin-top: 28px
    &__reviewer
      margin-top: 24px
      margin-bottom: 28px
  .horizontal-divider
    width: 90%
  .stories
    padding-top: 80px
    padding-right: 23px
    padding-left: 23px
    margin-right: 0
    margin: auto
    &__wrapper
      flex-direction: column
      align-items: center
    &__text
      margin: auto
      text-align: center
    &__title
      margin-top: 24px
      max-width: 567px
    &__description
      margin-top: 16px
      max-width: 568px
      text-align: center
    &__button
      margin-top: 36px
  .stories-slider
    margin-top: 36px
    max-width: 682px
  .story
    width: 682px
    &__item
      width: 332px
    &__item + &__item
      margin-left: 28px
    &__image
      width: 322px
    &__text
      transform: translate(10px,-15px)
  .newsletter
    margin-top: 80px
    padding: 72px 0 80px 0
    &__wrapper
      flex-direction: column
    &__text-wrapper
      text-align: center
  .subscribe
    margin-top: 56px
    margin-right: 0
    margin-left: 0
  .footer
    padding-top: 64px
    padding-bottom: 130px
    &__wrapper
      display: grid
      grid-template-columns: 253px 30px 1fr 30px 1fr
      grid-gap: 0
      grid-row-gap: 48px
      grid-auto-rows: minmax(60px, max-content)
      align-items: start
    &__list
      margin-right: 0
    &__info
      width: 253px
    &__summary-wrapper
      grid-column: 1 / 2
    &__navigation
      grid-column: 3 / 4
    &__services
      grid-column: 5 / 6
    &__company
      grid-row: 2 / 3
      grid-column: 3 / 4
    &__contacts
      grid-row: 2 / 3
      grid-column: 5 / 6

@media ( max-width: 732px )
  .container
    width: 576px
    max-width: 90%
  .navbar-menu
    &__list--mobile-hidden, &__button--mobile-hidden
      display: none
    &__logo
      margin-right: auto
    &__mobile-button
      display: flex
      padding: 0
      width: 22px
      height: 13.3px
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      cursor: pointer
      background-color: $light
    &__mobile-button-line
      width: 22px
      height: 2.2px
      background-color: #3A4C66
  .hero
    margin-top: 30px
    padding: 36px 0 36px 28px
    width: 100%
    min-height: 624px
    background-position: 63.3% 47.53%
    background-size: auto auto
    &__title
      max-width: 365px
      font-size: 38px
      line-height: 60px
    &__description
      max-width: 400px
      font-size: 18px
      line-height: 32px
    &__list
      max-width: 444px
    &__item + &__item
      margin-left: 21px
  .collection
    margin-top: 80px
    &__wrapper
      flex-wrap: wrap
    &__woman
      width: 100%
      height: 400px
      margin-right: 0
    &__images-wrapper
      margin-right: 0
      margin-top: 14px
      flex-direction: row
      width: 100%
    &__kitchen
      width: 280px
      flex-basis: 49%
    &__room
      width: 280px
      flex-basis: 49%
    &__kitchen + &__room
      margin-top: 0
      margin-left: 14px
    &__text
      flex-basis: 100%
    &__title
      font-size: 38px
      margin-top: 40px
      // max-width: 100%
    &__description
      max-width: 95%
    &__link-wrapper
      margin-top: 24px
      margin-bottom: 0
  .trends
    margin-top: 80px
    &__menu
      flex-direction: column
    &__title
      font-size: 38px
    &__tabs
      margin-top: 27.5px
    &__cards-wrapper--active
      margin: auto
      margin-top: 8.5px
      width: 100%
  .see-more
    &__link
      margin: auto
  .card
    width: 230px
    margin-top: 48px
    flex-basis: 49%
  .see-more
    flex-grow: initial
    margin-left: 0
    margin-right: 0
  .reviews
    margin-top: 80px
  .reviews-slider
    &__item
      max-width: 90%
    &__text-review
      margin-top: 28px
    &__reviewer
      margin-top: 24px
      margin-bottom: 28px
  .horizontal-divider
    width: 90%
  .stories
    padding-top: 80px
    padding-right: 23px
    padding-left: 23px
    margin-right: 0
    margin: auto
    &__wrapper
      flex-direction: column
      align-items: center
    &__text
      margin: auto
      text-align: center
    &__title
      font-size: 38px
      margin-top: 24px
      // max-width: 100%
    &__description
      margin-top: 16px
      // max-width: 568px
      text-align: center
    &__button
      margin-top: 36px
  .stories-slider
    margin-top: 36px
    max-width: 280px
  .story
    flex-wrap: initial
    width: 280px
    &__item
      width: 280px
    &__item + &__item
      margin-left: 0
      margin-top: 0
    &__image
      width: 280px
    &__text
      max-width: 280px
      transform: translate(5px,-15px)
    &__title
      font-size: 20px
      line-height: 24px
  .newsletter
    margin-top: 80px
    padding: 72px 0 80px 0
    &__title
      font-size: 38px
    &__wrapper
      flex-direction: column
    &__text-wrapper
      text-align: center
  .subscribe
    margin-top: 56px
    margin-right: 0
    margin-left: 0
  .footer
    padding-top: 48px
    padding-bottom: 73px
    &__wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__title
      margin-bottom: 0
      font-size: 16px
      line-height: 22px
    &__list
      margin-right: 0
    &__item
      margin-top: 15px
      font-size: 14px
      line-height: 20px
    &__summary-wrapper
      display: flex
      flex-direction: column
      max-width: 100%
      align-items: center
      margin-top: 35px
      margin-right: 0
      margin-auto: 0
    &__info
      margin-top: 14px
      width: 230px
      font-size: 14px
      line-height: 24px
      text-align: center
    &__navigation
      grid-row: 1
      grid-column: 1
    &__services
      grid-row: 2
      grid-column: 1
    &__company
      grid-row: 3
      grid-column: 1
    &__contacts
      grid-row: 4
      grid-column: 1

@media ( min-width: 320px)  and ( max-width: 480px )
  #newsletter-br
    display: none
  .container
    max-width: 290px
    width: 90%
  .navbar-menu
    &__logo
      margin-right: auto
  .hero
    margin-top: 24px
    padding: 381px 23px 36px 23px
    max-width: 320px
    min-height: 899px
    background-image: url('../sass/blocks/hero/img/hero-mobile.png')
    background-size: cover
    &__wrapper
      align-items: center
      text-align: center
    &__title
      max-width: 244px
      font-size: 32px
      line-height: 40px
    &__description
      max-width: 280px
      font-size: 16px
      line-height: 28px
    &__tag + &__title
      margin-top: 20px
    &__title + &__description
      margin-top: 20px
      text-align: center
    &__button
      margin-top: 24px
      padding: 13px 49px
      width: 100%
      min-height: 48px
      font-size: 16px
      line-height: 22px
    &__list
      max-width: 274px
    // TODO: доделать
    &__item--mauto
      margin-left: auto
      margin-top: 16px
    &__link
      margin-top: 2px
      font-size: 16px
      line-height: 20px
    &__item + &__item
      margin-left: 16px
    &__icon-wrapper
      width: 24px
      height: 24px
  .collection
    margin-top: 64px
    &__woman
      margin-right: 0
      width: 290px
      height: 300px
    &__images-wrapper
      flex-direction: row
      margin-top: 14px
    &__kitchen
      flex-basis: 49%
      width: 137px
      height: 97px
    &__room
      flex-basis: 49%
      width: 137px
      height: 97px
    &__kitchen + &__room
      margin-top: 0
      margin-left: 14px
    &__text
      text-align: center
    &__title
      margin-top: 36px
      max-width: 100%
      font-size: 28px
      line-height: 36px
    &__description
      margin-top: 20px
      max-width: 280px
      font-size: 16px
      line-height: 28px
    &__link-wrapper
      display: none
  .trends
    margin-top: 104px
    &__menu
      flex-direction: column
    &__title
      font-size: 28px
      line-height: 36px
    &__tabs
      margin-top: 24px
    &__tabs-item
      font-size: 16px
      line-height: 22px
    &__cards-wrapper--active
      margin: auto
      margin-top: 16px
      width: 290px
  .card
    width: 140px
    margin-top: 30px
    height: 234px
    &__image
      height: 170px
    &__title
      margin-top: 13px
      margin-left: 0
      font-size: 16px
      line-height: 20px
    &__price
      flex-wrap: wrap
      align-items: center
      justify-content: start
    &__price-tag
      margin-left: 0
      margin-right: 9px
      font-size: 14px
      line-height: 24px
    &__shopping-cart
      width: 14px
      height: 32px
      margin-right: 9px
      transform: translateY(8.5px)
  // Card Images - from left to right
  .image-1
    background-size: cover
  .image-2
    background-size: cover
    background-position-x: 45%
    background-position-y: 10%
  .image-3
    background-size: cover
    background-position-x: 45%
    background-position-y: 20%
  .image-4
    background-size: cover
    background-position-x: 45%
    background-position-y: 65%
  .image-5
    background-size: cover
    background-position-x: 45%
    background-position-y: 25%
  .image-6
    background-size: cover
    background-position-x: 45%
    background-position-y: 8%
  .image-7
    background-size: cover
    background-position-x: 50%
    background-position-y: 1%
  .see-more
    &__container
      padding-left: 0
      padding-right: 0
      height: 170px
    &__link
      margin: 0
      align-self: start
    &__content-wrapper
      margin-top: 40px
    &__icon
      width: 25px
      height: 32px
    &__text
      margin-top: 15px
      font-size: 17px
      line-height: 22px
  .reviews
    margin-top: 48px
  .reviews-slider
    &__item
      max-width: 280px
    &__text-review
      margin-top: 13px
      font-size: 18px
      line-height: 36px
    &__reviewer
      margin-top: 24px
      margin-bottom: 24px
      max-width: 145px
  .horizontal-divider
    margin-top: 64px
    width: 90%
  .stories
    padding-top: 49px
    padding-right: 0
    padding-left: 0
    margin: auto
    &__wrapper
      flex-direction: column
      align-items: center
    &__text
      margin: auto
    &__title
      max-width: 278px
      font-size: 28px
      line-height: 36px
    &__description
      max-width: 280px
      font-size: 16px
      line-height: 28px
  .stories-slider
    margin-top: 36px
    max-width: 280px
  .story
    flex-wrap: wrap
    width: 280px
    &__item
      width: 280px
    &__item + &__item
      margin-left: 0
      margin-top: 24px
    &__image
      width: 270px
    &__text
      max-width: 270px
      transform: translate(5px,-15px)
    &__title
      font-size: 20px
      line-height: 24px
  .newsletter
    margin-top: 64px
    padding: 64px 20px 64px 20px
    &__wrapper
      flex-direction: column
    &__text-wrapper
      text-align: center
    &__title
      font-size: 28px
      line-height: 36px
    &__strong
      margin-top: 24px
      width: 280px
      font-size: 16px
      line-height: 28px
  .subscribe
    margin-top: 36px
    margin-right: 0
    flex-direction: column
    width: 280px
    height: 106px
    #email-error
      position: relative
    &__input-wrapper
      width: 100%
      height: 48px
      margin-bottom: 10px
    &__mail-image
      top: 18px
    &__input
      padding-right: 30px
    &__button
      position: relative
      display: block
      padding: 12px 24px
      top: 0
      left: 0
      bottom: 0
      right: 0
      max-width: 280px
      width: 100%
      height: 48px
      border-radius: 8px
  .footer
    padding-top: 48px
    padding-bottom: 73px
    &__wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__title
      margin-bottom: 0
      font-size: 16px
      line-height: 22px
    &__list
      margin-right: 0
    &__item
      margin-top: 15px
      font-size: 14px
      line-height: 20px
    &__summary-wrapper
      display: flex
      flex-direction: column
      max-width: 100%
      align-items: center
      margin-top: 35px
      margin-right: 0
      margin-auto: 0
    &__info
      margin-top: 14px
      width: 230px
      font-size: 14px
      line-height: 24px
      text-align: center
    &__navigation
      grid-row: 1
      grid-column: 1
    &__services
      grid-row: 2
      grid-column: 1
    &__company
      grid-row: 3
      grid-column: 1
    &__contacts
      grid-row: 4
      grid-column: 1
