// Footer block
.footer
  padding-top: 128.19px
  padding-bottom: 131.81px
  // Footer wrapper
  &__wrapper
    display: grid
    grid-template-columns: 166px 119px 3.3fr 129px 5.3fr 94px 4fr
    grid-gap: 0
    grid-auto-rows: minmax(60px, max-content)
    align-items: start
  // All titles
  &__title
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $primary-text-color
  // All lists
  &__ul
    padding: 0
    margin: 0
    list-style: none
  // All list items
  &__item
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    color: $primary-text-color
  // All list links
  &__link
    text-decoration: none
    color: inherit
