.reviews
  margin-top: 145px
  margin-bottom: 120px
.reviews-slider
  &__item
    margin: auto
    display: flex
    max-width: 800px
    flex-direction: column
    align-items: center
  &__text-review
    margin-top: 24px
    font-family: "HK Grotesk Medium", sans-serif
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 42px
    text-align: center
    letter-spacing: 0.133333px
    color: $primary-text-color
  &__reviewer
    margin-top: 28px
    margin-bottom: 48px
    font-family: "HK Grotesk Bold", sans-serif
    font-size: 20px
    line-height: 24px
    text-align: center
    letter-spacing: 0.2px
    color: $primary-text-color
  &__swiper-pagination
    bottom: 80px
.horizontal-divider
  margin-top: 80px
  margin-right: auto
  margin-left: auto
  text-align: center
  width: 1140px
  height: 1px
  border: 1px solid #E5EAF4
