// Newsletter Block
.newsletter
  position: relative
  margin-top: 140px
  padding: 100px 0 100px 0
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-color: #1565D8
  &::before
    position: absolute
    left: -42.5%
    right: 60.14%
    top: -242.01%
    bottom: -8.88%
    content: ''
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 99.73%)
    mix-blend-mode: normal
    opacity: 0.2
  &::after
    position: absolute
    left: 893px
    // right: -44.38%
    top: -23px
    // bottom: -244.08%
    content: ''
    background: linear-gradient(270deg, #FFFFFF 28.21%, rgba(255, 255, 255, 0.0001) 99.73%)
    mix-blend-mode: normal
    opacity: 0.2
  &__wrapper
    display: flex
    margin: auto
    align-items: center
    justify-content: space-between
  &__title
    font-family: "HK Grotesk Bold", sans-serif
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $light
  &__strong
    margin-top: 14px
    max-width: 436px
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $light
.subscribe
  position: relative
  display: flex
  margin-right: 73px
  width: 447px
  height: 56px
  #email-error
    position: absolute
    top: 65px
    left: 0
  &__input-wrapper
    width: 100%
    height: 100%
  &__mail-image
    position: absolute
    top: 22px
    bottom: 20px
    left: 20px
  &__input
    padding-left: 48px
    padding-right: 210px
    width: 100%
    height: 100%
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    border: none
    border-radius: 8px
    overflow: hidden
    color: #959EAD
    background-color: $light
  &__button
    position: absolute
    padding: 11px 27px
    max-width: 177px
    top: 4.5px
    bottom: 4.5px
    right: 4.5px
    font-family: Open Sans, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    border: 1px solid $primary-text-color
    border-radius: 4px
    outline: none
    cursor: pointer
    overflow: hidden
    z-index: 1000
    color: $light
    background-color: $primary-text-color
